  <div data-controller="phaser-game" data-userId="<%= current_user.id %>">
    <div id="context-menu" data-phaser-game-target="menu">
      <ul>
        <li id="play-in-mana-pool">Mana</li>
        <li id="play-in-play_zone">Juego</li>
        <li id="play-in-play_zone-morph">Juego Morph</li>
        <li id="play-in-graveyard">Cementerio</li>
        <li id="play-in-hand">Hand</li>
        <li id="play-in-exile">Exile</li>
      </ul>
    </div>
  </div>

