  <div data-controller="phaser-game" data-userId="<%= current_user.id %>">
    <div id="context-menu">
      <ul>
        <li id="play-in-mana-pool">Play in Mana Pool</li>
        <li id="play-in-playzone">Play in Playzone</li>
        <li id="play-in-playzone-flipped">Play in Playzone (Flipped)</li>
      </ul>
    </div>
  </div>

