<div id='read' data-phaser-game-target="read">
  <div class="modal">
    <div class="modal-content">
      <%= link_to 'Close', '', data: {
        action: "click->phaser-game#close",
      } %>
      <%= image_tag url, style: "width: 100%; height: auto;" %>
    </div>
  </div>
</div>
